table {

    border:1px sólido #000000;
    border-collapse:colapso;
    padding:5px;
    margin-top: 15vh;
    width: 80%;
    margin: 0 auto;
    
    
   
}


table td {
    border:1px solid #000;
    width: 150px;
    border-radius: 5px;
    
}

table tr {
    height: 30px;
}

.container_global_table {
    margin-top: 100px;
}


.link {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    border-radius: 5px;
}

.link a {
    text-decoration: none;
    color: #000;
}